<table class="table responsive">

    <thead>
        <tr>
           <th>Tipo </th> 
           <th>Descripcion </th>
           <th>Valor </th>
           <th>Cantidad </th>
           <th>Imagen </th>
           <th>Acciones</th>


        </tr>

    </thead>

    <tbody>

        <tr *ngFor = "let p of ListaProductos">
            <td>{{p.tipo}}</td>
            <td>{{p.descripcion}}</td>
            <td>{{p.valor}}</td>
            <td>{{p.cantidad}}</td>
            <td><img src="{{p.imagen}}" class="imagenproducto"/></td>
            <td><a routerLink="/administracion/actualizar-producto/{{p.id}}" class="btn">Editar</a>
                <a routerLink="/administracion/eliminar-producto/{{p.id}}" class="btn" >Eliminar</a>
            </td>
            
        </tr>
    </tbody>




</table>

<br>
<a routerLink = "/administracion/crear-producto" class="btn">crear Producto</a>
