
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf = "sesionIniciada"><a routerLink="/inicio">Inicio</a></li>
        <li ><a routerLink="administracion/crear-persona">Registrarse</a></li>
        <li *ngIf = "!sesionIniciada"><a routerLink="seguridad/identificacion">Iniciar Sesion</a></li>
        <li *ngIf = "sesionIniciada"><a routerLink="seguridad/cerrar-sesion">Cerrar Sesion</a></li>
        <li *ngIf = "sesionIniciada"><a routerLink="seguridad/cambio-clave">Cambiar clave</a></li>
        <li *ngIf = "sesionIniciada"><a routerLink="administracion/buscar-producto">Conoce nuestros productos</a></li>
        <li *ngIf = "sesionIniciada"><a routerLink="pedidos/realizar-pedidos">Realiza tu pedido</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>