<form [formGroup] = "fgValidador" (ngSubmit)="ActualizarProducto()" > 
    <div class="card-panel z-depth-5">

       

        <div class="row margin">
            <div class="col s12 m12 l12 center">
                <img src="https://i.imgur.com/ypAbAYt.png"
                 alt="" class="responsive-img circle" style="width:100px;">
                <p>Actulizacion de productos </p>
            </div>
        </div>

        <input type="hidden" formControlName = "id"/>

        <div class="col s12 m12 l12">
            <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input formControlName='tipo' type="text" name="tipo" id="tipo">
                <label for="usuario">Ingrese el tipo de producto </label>
            </div>
        </div>

        <div class="col s12 m12 l12">
            <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input formControlName='descripcion' type="text" name="usuario" id="usuario">
                <label for="usuario">Ingrese la descripcion del producto </label>
            </div>
        </div>

        <div class="col s12 m12 l12">
            <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input formControlName='valor' type="text" name="usuario" id="usuario">
                <label for="usuario">Ingrese el valor  del producto </label>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input formControlName='cantidad' type="text" name="usuario" id="usuario">
                <label for="usuario">Ingrese la cantidad de este producto </label>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <div class="input-field">
                <i class="material-icons prefix">person</i>
                <input formControlName='imagen' type="text" name="usuario" id="usuario">
                <label for="usuario">Ingrese la imagen del producto </label>
            </div>
        </div>

        <br><br>

            

        <div class="center">
            <input [disabled]= "!fgValidador.valid" type="submit" value="Actualizar producto" name="login" 
            class="btn waves-effect waves-light " 
            style="width:100%; background-color: #ff4081;">
        </div>

           

        <br>
    </div>
</form>
