<h1> Pagina para crear personas</h1>
<!---
/*
<div>
    <form [formGroup] ="formCrear" (submit)="Crear()">
        <div>
            <label for="nombre"> Nombre</label>
            <input type=text id="nombre" formControlName="nombre">
        </div>
        <div>
            <label for="apellidos">Apellidos</label>
            <input type=text id="apellidos" formControlName="apellidos">
        </div>
        <div>
            <label for="telefono">Telefono</label>
            <input type=text id="telefono" formControlName="telefono">
        </div>
        <div>
            <label for="correoElectronico"> Correo Electronico</label>
            <input type=text id="correoElectronico" formControlName="correoElectronico">
        </div>
        <div>
            <label for="direccion">Direccion</label>
            <input type=text id="direccion" formControlName="direccion">
        </div>
        

        <div>
           <button> Crear</button> 
        </div>

    </form>



</div>-->
