<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Punto fisico</h5>
          <p class="grey-text text-lighten-4">Avenida Bolivar #10 - 40 Local 09 segundo piso</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Atencion al cliente</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">3146170471</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">3114114235</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">3128289648</a></li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Linea de ventas</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">01 8000 911 008</a></li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Soporte tecnico</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">3028631467</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">3235830174</a></li>
          </ul>
        </div>
        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Programmers Todos los derechos reservados
      <a class="grey-text text-lighten-4 right" href="#!"></a>
       <ul>
        <li><a class="grey-text text-lighten-3" href="#!"></a></li>
       </ul> 
      </div>
    </div>
  </footer>
