<div class="container">
    <div class="row">

        <div class="col l6 offset-9 s9">
            <h5 style = "font-family:courier,arial,helvética"class="black-text">Historia</h5>
            <p class="black-text text-lighten-4">
                Somos una empresa que inicio su operacion en el año 2015
                comercializando telefonos celulares a nivel nacional. Rapidamente incluimos los servicios de soporte
                tecnico
                y reparacion debido a la demanda por parte de nuestros clientes.
                <br>
                <br>
                A medida que fuimos creciendo, logramos fortalecer nuestro equipo de trabajo y actualmente contamos con
                personal
                con amplio conocimiento y experiencia.
            </p>
        </div>
        <br>
        <br>

        <div class="col l4 offset-l2 s12">
            <h5 style = "font-family:courier,arial,helvética" class="black-text">Mision</h5>
            <p class="black-text text-lighten-3">
                Presentar un amplio portafolio de telefonos celulares de diferentes gamas, marcas y estilos,
                ofreciendo soporte tecnico y servicios de reparacion para satisfacer las necesidades del cliente.
            </p>
        </div>
        <br>
        <br>
        <div class="col l11 offset-18 s18">
            <h5  style = "font-family:courier,arial,helvética"class="black-text">Vision</h5>
            <p class="black-text text-lighten-5">
                Ser una empresa reconocida por la venta, reparacion y 
                soporte tecnico de equipos de telefonia celular, <br>
                ofreciendo un amplio portafolio y brindandon un servicio al cliente de alta calidad.
            </p>
        </div>

        <div class="col l11 offset-16 s16">
            <h5 style = "font-family:courier,arial,helvética" class="black-text">Valores</h5>

            <ul>
                <li>* Aprendizaje continuo. </li>
                <li>* Desarrollo de habilidades conocimientos y conductas como resultado de la experiencia.</li>
                <li>* Cooperación: actitud de servicio y colaboracion. </li>
                <li>* Responsabilidad: cumplimiento de pedidos en las fechas y cantidades establecidas</li>
                <li>* Trabajo en equipo.Desarrollo personal y trabajo en equipo para cumplir los objetivos.</li>
            </ul>

        </div>

    </div>
</div>